 <button 
    class="<%= @btnBgColor %> <%= @btnShadowColor %> <%= @textSize %> <%= @padding %> <%= @additionalCss %> <%= @textColor %> flex items-center gap-3 font-medium rounded-[13px] shadow-xl transform transition duration-100"
>
   <%= @text %>
   <%= arrow_down_component  if @arrow%>
 </button>