 <button 
    class="<%= @btnBgColor %> <%= @btnShadowColor %> <%= @textSize %> <%= @padding %> <%= @additionalCss %> text-white rounded-[13px] shadow-xl transform transition duration-100"
>
   <%= @text %>
 </button>