<footer class="container mx-auto px-5 py-20 md:py-36">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-7 md:gap-3">
        <div class="col-span-2 space-y-6 md:space-y-10 max-w-[380px]">
            <%= main_logo_component size: "md" %>
            <p class="text-lg md:text-xl mb-6 text-[#061A36] font-medium leading-relaxed">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
             <%= text_input_component type: "email", additionalCss: "w-4/5" %>
        </div>
        <div>
            <h2 class="text-[#061A36] font-bold text-[1.3rem] md:text-[1.6rem] mb-3">Menu</h2>
            <ul class="text-gray-500 space-y-2 font-medium text-md md:text-lg">
                <li class="hover:underline"><a href="/">Shop All</a></li>
                <li class="hover:underline"><a href="/">About Us</a></li>
                <li class="hover:underline"><a href="/">Community</a></li>
                <li class="hover:underline"><a href="/">FAQs</a></li>
            </ul>
        </div>
         <div>
            <h2 class="text-[#061A36] font-bold text-[1.3rem] md:text-[1.6rem] mb-3">Support</h2>
            <ul class="text-gray-500 space-y-2 font-medium text-md md:text-lg">
                <li class="hover:underline"><a href="/">Shipping & Returns</a></li>
                <li class="hover:underline"><a href="/">Help & FAQ</a></li>
                <li class="hover:underline"><a href="/">Terms & Conditions</a></li>
                <li class="hover:underline"><a href="/">Privacy Policy</a></li>
                <li class="hover:underline"><a href="/">Contact</a></li>
                <li class="hover:underline"><a href="/">Login</a></li>
            </ul>
        </div>
         <div>
            <h2 class="text-[#061A36] font-bold text-[1.3rem] md:text-[1.6rem] mb-3">Resources</h2>
            <ul class="text-gray-500 space-y-2 font-medium text-md md:text-lg">
               <li class="hover:underline"><a href="/">Shipping & Returns</a></li>
                <li class="hover:underline"><a href="/">Help & FAQ</a></li>
                <li class="hover:underline"><a href="/">Terms & Conditions</a></li>
                <li class="hover:underline"><a href="/">Privacy Policy</a></li>
                <li class="hover:underline"><a href="/">Contact</a></li>
                <li class="hover:underline"><a href="/">Login</a></li>
            </ul>
        </div>
    </div>
    <div class="flex flex-col md:flex-row gap-4 md:justify-between items-center mt-10 md:mt-20">
        <a href="/" class="text-[#061A36] font-medium text-md md:text-lg">
            © <%= get_current_year %> Brainly.
        </a>
        <div class="flex gap-6">
            <%= social_icon_conponent icon: facebook_icon_component %>
            <%= social_icon_conponent icon: linkin_icon_component %>
            <%= social_icon_conponent icon: twitter_icon_component %>
        </div>
    </div>
</footer>