<nav class="container mx-auto px-5 py-2 md:py-9 flex items-center justify-between">
    <a href="/" class="mr-2 md:mr-10">
        <%= main_logo_component %>
    </a>
    <div data-controller="searchbook">
        <%= text_input_component type: "search", additionalCss: "md:ml-16 md:mr-28", target: "search" %>
        <%= link_to("Find Book", "/search/", 
            data: { "searchbook-target": "link" , action: "click->searchbook#search" },
            method: :get , params: {felix: "felix"}, class: "hidden text-red-400 text-xl")
        %>
    </div>
    <ul class="flex gap-8 items-center font-medium text-blue-950 text-lg">
        <li class="hidden 2xl:block hover:underline underline-offset-8 decoration-2"><a href="/">Home</a></li>
        <li class="hidden 2xl:block hover:underline underline-offset-8 decoration-2"><a href="/">Rent Textbooks</a></li>
        <li class="hidden 2xl:block hover:underline underline-offset-8 decoration-2"><a href="/">Buy Textbooks</a></li>
        <li class="hidden 2xl:block hover:underline underline-offset-8 decoration-2"><a href="/">Sell Textbooks</a></li>
        <li class="block 2xl:hidden">
            <%= hamburger_icon_component %>
        </li>
        <li class="hidden md:block -ml-2 place-items-center">
            <div class="border-l h-6 border-gray-300"></div>
        </li>
        <li class="hidden md:flex gap-1 place-items-center cursor-pointer">
            <%= globe_icon_component %> En
        </li>
        <li class="hidden md:block">
            <%= button_component text: "Contact" %>
        </li>
    </ul>
</nav>