<section id="main_section" class="inline-block bg-gradient-to-r from-sky-500 from-15% via-indigo-500 via-50% to-sky-500 to-90% bg-opacity-60">
    <section style="background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(0,0,0,0)), color-stop(.5,white))">
        <div class="container mx-auto px-5 grid grid-cols-1 md:grid-cols-6 h-[750px]">
            <div class="relative md:col-span-3 flex items-center">
                <img class="absolute -left-[450px] -bottom-[200px]" src="<%= asset_path('yellow_glow.png')%>"/>
                <div class="z-10 max-w-[600px] space-y-10">
                    <h1 class="font-bold text-5xl md:text-[4.7rem] text-blue-950">
                        The Cheapest Textsbooks
                    </h1>
                    <h2 class="text-indigo-500 font-bold text-[2rem] leading-10 max-w-[440px]">
                        Save Up To 90% On Millions Of Titles 
                    </h2>
                    <p class="text-2xl font-medium text-blue-950">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed diam nonumy eirmod tempor invidunt ut labore et
                        dolore magna.
                    </p>
                    <%= button_component text: "Get Started", arrow: true %>
                </div>
            </div>
            <div class="col-span-3 flex items-center">
                <%= hero_illlustration_component %>
            </div>
        </div>
    </section>
    <section class="container mx-auto pt-12 pb-36 px-5">
        <div class="grid grid-cols-1 md:grid-cols-6 mb-2">
            <div class="md:col-span-3 ">
                <img src="<%= asset_path("comment.png") %>">
            </div>
            <div class="md:col-span-3 grid place-items-center">
                <div class="max-w-[500px]">
                    <h2 class="font-bold text-white text-[2.8rem] mb-7">Our Commitment</h2>
                    <p class="text-white font-medium text-lg mb-10">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, Clients
                        sed diam nonumy eirmod tempor invidunt ut labore et
                        dolore magna aliquyam erat, sed diam voluptua. At
                        vero eos et accusam et justo duo dolores et ea rebum
                    </p>
                    <%= button_component text: "Learn More", arrow: true, type: "dark"%>
                </div>
            </div>
        </div>
        <h1 class="text-center text-white font-bold text-[2.5rem] mb-10">Trusted By Awesome <span class="text-orange-300">Clients</span></h1>
        <div class="flex flex-wrap justify-center gap-20 scale-110">
            <%= client_logo_component text: "Binance", logo: binance_logo_component %>
            <%= client_logo_component text: "Bitcoin", logo: bitcoin_logo_component %>
            <%= client_logo_component text: "Solana", logo: solona_logo_component %>
            <%= client_logo_component text: "Ethereum", logo: ethereum_logo_component %>
            <%= client_logo_component text: "Tether", logo: tether_logo_component %>
            <%= client_logo_component text: "XRP", logo: xrp_logo_component %>
        </div>
    </section>
</section>
