<section id="questions_section" class=" bg-gray-100 py-40">
    <div class="mx-auto max-w-[1000px]">
        <h2 class="text-blue-950 font-bold text-[2.8rem] mb-10">Frequently Asked Question</h2>
        <div class="space-y-10">
            <%= question_component title: "Dedicated customer support and help portal.", 
                details: "With our dedicated customer support team, you can rest easy knowing that we’re doing everything we can to save you time, money, and stress.",
                close: false
            %>
            <%= question_component title: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed", 
                details: "",
                close: true
            %>
            <%= question_component title: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed", 
                details: "",
                close: true
            %>
            <%= question_component title: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed", 
                details: "",
                close: true
            %>
            <%= question_component title: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed", 
                details: "",
                close: true
            %>
        </div>
    </div>
</section>