<!DOCTYPE html>
<html>
  <head>
    <title>XZY Books</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= promo_header_component %>
    <%= navbar_component %>
    <%= yield %>
    <%= comment_logo_component %>
  </body>
</html>
